<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <title>Elastic Containers URL Shortener</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container">
        <h1 class="navbar-brand" style="color: white">
          Elastic Containers URL Shortener
        </h1>
      </div>
      <div class="btn-nav">
        <a
          href="https://s18stest.auth.us-east-1.amazoncognito.com/signup?client_id=7qgeso579hu2gv5qc259ch0h2r&response_type=code&scope=email+openid&redirect_uri=http://localhost:3000"
          class="btn btn-primary me-1"
          >Sign Up</a
        >
        <a
          href="https://s18stest.auth.us-east-1.amazoncognito.com/login?client_id=7qgeso579hu2gv5qc259ch0h2r&response_type=code&scope=email+openid&redirect_uri=http://localhost:3000"
          class="btn btn-primary me-2"
          >Sign In</a
        >
      </div>
    </nav>
    <div
      class="container-fluid d-flex justify-content-center align-items-center"
      style="height: 100vh; overflow: hidden"
    >
      <div
        class="row text-center d-flex align-items-center"
        style="overflow: hidden; width: 50vw; height: 50vh"
      >
        <h1>Welcome to the Elastic Containers / Fargate URL shortener</h1>

        <p class="mt-4">
          Powered by ECS, Fargate, MongoDB Atlas on AWS, and AWS Cognito
        </p>
        <div
          class="text-center d-flex align-items-center justify-content-center"
        >
          <a
            href="https://s18stest.auth.us-east-1.amazoncognito.com/signup?client_id=7qgeso579hu2gv5qc259ch0h2r&response_type=code&scope=email+openid&redirect_uri=http://localhost:3000"
            class="btn btn-primary mx-2"
            >Sign Up</a
          >
          <a
            href="https://s18stest.auth.us-east-1.amazoncognito.com/login?client_id=7qgeso579hu2gv5qc259ch0h2r&response_type=code&scope=email+openid&redirect_uri=http://localhost:3000"
            class="btn btn-primary mx-2"
            >Log In</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
