/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background: linear-gradient(120deg, #2980b9, #8e44ad); */
  background-image: url(../assets/images/header.png);
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  min-height: 400px;
  max-height: 400px;
  background: white;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}

.logo {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: rotate(55deg);
}

.logo img {
  width: 150px;
}

.dashboard {
  min-height: 600px;
  max-height: 1400px;
  overflow: auto;
  height: 80%;
}

.login {
  position: fixed;
  bottom: 20%;
  height: 50px;
  width: 100%;
}

/* svg {
  transform: scale(0.25);
} */

.center h1 {
  text-align: center;
  vertical-align: middle;
  padding: 70px 0 20px 0;
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

.sortable th.no-sort {
  pointer-events: none;
}

.alert {
  height: 6%;
  text-align: center;
  vertical-align: middle;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  color: white;
  width: 100%;
}

.img-qr {
  width: 2rem;
}
